.pagination{
    text-align: center;
    top: 107%;
    left: 35%;
    margin: 0 auto;
    display: block;
    position: absolute;
    .pages{
        display: inline-block;
        background: red;
        color: white;
        -webkit-box-shadow: 14px 17px 43px -2px rgba(0,0,0,0.24);
        -moz-box-shadow: 14px 17px 43px -2px rgba(117, 19, 19, 0.24);
        box-shadow: 14px 17px 43px -2px rgba(0,0,0,0.24);
        li{
            padding: 20px 30px;
            display: inline-block;
            &:hover,
            &:visited,
            &:focus-within,
            &.active{
                background: white;
                color: black;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}