
#cart-popup{
    background: #F2F6F7;
    width: 100%;
    position: fixed;
    min-height: 200px;
    bottom: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: 5% 50% 1fr 1fr 1fr;
    transform: translate3d(0,500px,0);
    transition: transform .4s ease-in-out;
    &.active{
      transform: translate3d(0,0,0);
    }
    .cart-title{
      width: 100px;
      max-width: 100px;
      position: relative;
      .title{
        position: absolute;
        top: 20px;
        left: -62px;
        font-size: 2rem;
        color: #b6bfc6;
        transform: rotate(-90deg);
        width: 200px;
      }
    }
    .empty-message {
      font-size: 21px;
      margin: 50px auto;
      color: #b6bfc6;
    }
    .cart-items{
      /*Modifier*/
        display: flex;
        align-items: center;
      /*Modifier*/
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      .item-container{
        width: 200px;
        display: inline-block;
        
      }
      .item{
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 70px 20px;
        img{
          position: absolute;
          left: -41px;
          width: 100%;
          transform: rotate(90deg);
        }
        .delete-btn{
          background: white;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          padding: 10px;
          border-radius: 30px;
          cursor: pointer;
         
          &:hover{
            .circle{
              background: red;
            }
          }
        }
        .circle{
          background: #F2F6F7;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: white;
           transition: background .4s ease-in-out;
        }
      }
    }
    .product-total, .price-total{
      display: flex;
      align-items: center;
      
      .inside-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-left: 3px solid #b6bfc6;
        width: 100%;
      }
      .title{
        color: #b6bfc6;
        background: white;
        padding: 5px 20px;
        border-radius: 20px;
        display: inline-block;
        margin-bottom: 20px;
      }
      .number{
        color: #b6bfc6;
        font-size: 2rem;
        font-weight: 700;
      }
    }
    .checkout{
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fafafa;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      flex-direction: column;
      cursor: pointer;
      .cart{
        transition: color .3s ease-in-out;
      }
      .title{
        margin-bottom: 1.2rem;
        a{
          transition: color .23s ease-in-out;
          &:hover{
            color: red !important;
          }
        }
      }
    }
  }

  .box-container{
    background: white;
    padding: 80px 20px;
  }
  form{
    .error-message{
      position: relative;
      top: -9px;
      color: red;
    }
    input.error{
      border: 1px solid red !important;
    }
    input[type="password"], input[type="email"], input[type="text"]{
          width: 100%;
          margin: 0 0 1rem;
          font-size: 1rem;
          padding: 10px;
          border: 1px solid #6c6c6c;
        }
    button{
          border: none;
          margin: 0 0 1rem;
          font-size: 1rem;
          padding: 10px;
          background-color: rgb(27, 108, 206);
          color: white;
          cursor: pointer;
        }
  }
  
  #alert-box{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    &.active{
      display: block;
    }
    .title{
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    &.notification{
      background: yellow;
      color: black;
    }
    &.success{
      background: green;
      color: white;
    }
    &.error{
      background: red;
      color: white;
    }
  }
  