.content-area.about-page{
    padding: 120px 0;
        .container{
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            padding:0 20px;
            .box-container{
                background: white;
                padding: 80px 20px;
                border-radius: 3px;
            h1 {
                font-size: 3rem;
                text-align: center;
                margin-bottom: 2rem;
            }
            p {
                max-width: 700px;
                margin: 0 auto;
                line-height: 1.5;
                font-size: 1.2rem;
                font-weight: 300;
            }
        }    
    }
}



