header{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    z-index: 10;
    .logo{
      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
      width: 76%;
      margin: initial;
      a {
        color: #484c4f;
        text-decoration: none;
        transition:color .2s ease-in-out;
        &:hover{
          color: red;
        }
      }
    }
    .hamburger {
      @media screen and (min-width: 769px) {
        display: none;
      }
      @media screen and (max-width: 768px) {
        position: relative;
        margin-right: 25px;
      }
      @media screen and (max-width: 425px) {
        margin-right: 17px;
      }
      @media screen and (max-width: 375px) {
        margin-right: 21px;
      }
      @media screen and (max-width: 375px) {
        margin-right: 17px;
      }
    }
    .menu{
      font-size: 1rem;
      text-transform: uppercase;
      padding: 20px 0;
      display: flex;
      align-items: center;
      width: 63rem;
      @media screen and (max-width: 769px) {
        width: 137px;
      }
      @media screen and (max-width: 768px) {
        position: absolute;
        width: 71px;
        display: flex;
        flex-direction: column;
        right: 35px;
        top: 4rem;
        align-items: flex-end !important;
        margin-right: 0px;
        visibility: hidden;
        opacity: 0;
        transition: .3s ease-in-out;
        &#visible {
          visibility: visible;
          opacity: 1;
        }
      }
      @media screen and (max-width: 425px) {
        font-weight: 700;
        width: 57px;
        color: red;
      }
      @media screen and (max-width: 375px) {
        //left: 16rem;
        right: 38px;
      }
      @media screen and (max-width: 320px) {
        left: 12rem;
      }
      a, .sign-out {
        color: #484c4f;
        padding-right: 15px;
        text-decoration: none;
        transition:color .2s ease-in-out;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          padding-top: 10px;
        }
        @media screen and (max-width: 425px) {
          padding-top: 1rem;
          font-size: 12px;
          margin-right: 0px;
          transition: 200ms ease;
          transition: padding-top 500ms ease;
          color: red;
        }
          &:hover{
            color: red;
            @media screen and (max-width: 425px) {
              color: #484c4f; 
            }
          }
      }
      .cart-link{ 
        background: #484c4f;
        color: white;
        padding: 10px 20px;
        display: inline-block;
        position: relative;
        border-radius: 20px;
        cursor: pointer;
        transition: background .2s ease-in-out;
        @media screen and (max-width: 768px) {
          margin-top: 1rem;
          margin-right: 0px;
        }
        &:hover{
          background: rgb(202, 32, 32);
          color: white;
        }
        span{
          position: absolute;
          top: -10px;
          right: -10px;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: black;
          border-radius: 50%;
        }
      }
    }
  }
