.grid-filter-item {
    min-width: 33%;
    list-style: none;
}

.tile-input {
    margin: -1px 0 0 -1px;

    background-color: transparent;
    font-family: Source Sans Pro Regular,sourcesanspro,sans-serif;
    font-size: 1.2rem;
    letter-spacing: .03rem;
    list-style-type: none;
    text-align: center;
}

// input #input {
//     clip: rect(1px,1px,1px,1px);
//     height: 15px;
//     overflow: hidden;
//     position: absolute !important;
//     width: 1px;
// }

.tile-content {
    min-width: 55px;
    border: 1px solid #e0ded7;
    height: 40px;
    padding: 0 1px;
}

/* Checkbox Hack */

//    input[type=checkbox] {
//        position: absolute;
//        top: -9999px;
//        left: -9999px;
//     }
//  label { 
//    -webkit-appearance: push-button;
//    -moz-appearance: button; 
//    display: inline-block;
//    margin: 60px 0 10px 0;
//    cursor: pointer;
//  }
 
//  /* Default State */
//  div {
//     background: green;
//     width: 400px;
//     height: 100px;
//     line-height: 100px;
//     color: white;
//     text-align: center;
//  }
 
//  /* Toggled State */
//  input[type=checkbox]:checked ~ div {
//     background: red;
//  }